p.payment_module a.dibs:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

p.payment_module a.dibs {
    background: url('../../views/img/dibs.png') 15px 15px no-repeat #fbfbfb;
    background-size: 64px 64px;
}

p.payment_module a:hover {
     background-color: #f6f6f6;
}
